
Portfolio1/.DS_Store
Portfolio1/bin/Debug/net6.0/Portfolio1.dll
Portfolio1/bin/Debug/net6.0/Portfolio1.pdb
Portfolio1/bin/Debug/net6.0/ref/Portfolio1.dll
Portfolio1/controllers/HelloController.cs
Portfolio1/obj/Debug/net6.0/Portfolio1.csproj.FileListAbsolute.txt
Portfolio1/obj/Debug/net6.0/Portfolio1.dll
Portfolio1/obj/Debug/net6.0/Portfolio1.GeneratedMSBuildEditorConfig.editorconfig
Portfolio1/obj/Debug/net6.0/Portfolio1.pdb
Portfolio1/obj/Debug/net6.0/Portfolio1.RazorAssemblyInfo.cache
Portfolio1/obj/Debug/net6.0/Portfolio1.RazorAssemblyInfo.cs
Portfolio1/obj/Debug/net6.0/project.razor.json
Portfolio1/obj/Debug/net6.0/ref/Portfolio1.dll
Portfolio1/obj/staticwebassets.pack.sentinel
Portfolio1/views/Hello/contact.cshtml
Portfolio1/views/Hello/index.cshtml
Portfolio1/wwwroot/css/style.css
